name: Terraform Infrastructure Deployment
on:
  workflow_dispatch:

jobs:
  Terraform-Infrastructure-Deployment:
    name: Create Infrastructure
    runs-on: ubuntu-latest
    outputs:
      env_name: ${{ steps.set-env.outputs.env }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Determine Environment Branch From Backend Check Or Backend Bootstrap Trigger
      - name: Determine Environment From Trigger - Backend / Bootstrap
        run: |
          if [ "$GITHUB_EVENT_NAME" == "workflow_dispatch" ]; then
              BRANCH="${GITHUB_REF#refs/heads/}"
          else
              BRANCH="${{ github.event.workflow_run.head_branch }}"
          fi

          case "$BRANCH" in
            dev)
                ENV="dev"
                ;;
            staging)
              ENV="staging"
              ;;
              main)
              ENV="production"
              ;;
            *)
              echo "Invalid Target Branch: $BRANCH"
              exit 1
              ;;
            esac

            echo "ENV=$ENV" >> $GITHUB_ENV
            echo "TFVARS_FILE=environments/${ENV}/${ENV}.tfvars" >> $GITHUB_ENV
            echo "Environment Detected: $ENV"
            echo "Using TFVARS File: environments/${ENV}/${ENV}.tfvars"

      # Set Environment Output
      - name: Set Environment Output
        id: set-env
        run: |
          echo "Environment Detected: $ENV"
          echo "env=${ENV}" >> $GITHUB_OUTPUT

      # Confirm TFVARS exists
      - name: Confirm TFVARS File
        run: |
          if [ ! -f "${{ env.TFVARS_FILE }}" ]; then
            echo "Unable To Find: ${{ env.TFVARS_FILE }}"
            exit 1
          fi
          echo "Found: ${{ env.TFVARS_FILE }}"

      # Clear Cahce
      - name: Clear Cache
        run: |
          echo "Cleaning Cache..."

          rm -rf .terraform
          rm -f .terraform.lock.hcl

          rm -rf environments/${ENV}/.terraform
          rm -f environments/${ENV}/.terraform.lock.hcl

          echo "Cleanup Complete"

      # Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      #  List Modules
      - name: List Module Folders
        run: ls -l Modules/

      # Determine Branch Enviroment - Backend Variables For Deployment - Using Backend TFVARS
      - name: Determine Branch Environment Variables
        run: |
          BACKEND_FILE="environments/${ENV}/backend.tfvars"

          if [ ! -f "$BACKEND_FILE" ]; then
           echo "Backend TFVARS file not found: $BACKEND_FILE"
           exit 1
          fi

           RG=$(grep -E '^resource_group_name' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)
           SA=$(grep -E '^storage_account_name' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)
           CONTAINER=$(grep -E '^storage_container_name' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)
           KEY=$(grep -E '^state_key_deployment' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)

           RG="${RG//$'\r'/}"
           SA="${SA//$'\r'/}"
           CONTAINER="${CONTAINER//$'\r'/}"
           KEY="${KEY//$'\r'/}"

           echo "RG_NAME=$RG" >> $GITHUB_ENV
           echo "STORAGE_ACCOUNT_NAME=$SA" >> $GITHUB_ENV
           echo "STORAGE_CONTAINER_NAME=$CONTAINER" >> $GITHUB_ENV
           echo "STATE_KEY_DEPLOYMENT=$KEY" >> $GITHUB_ENV

        # Confirm Backend exists
      - name: Confirm TFVARS File
        run: |
          if [ ! -f "${{ env.TFVARS_FILE }}" ]; then
            echo "Unable To Find: ${{ env.TFVARS_FILE }}"
            exit 1
          fi
          echo "Found: ${{ env.TFVARS_FILE }}"

        # Confirm Backend Variables
      - name: Confirm Backend Variables
        run: |
          echo "Resource Group Name       : ${{ env.RG_NAME }}"
          echo "Storage Account Name      : ${{ env.STORAGE_ACCOUNT_NAME }}"
          echo "Storage Container Name    : ${{ env.STORAGE_CONTAINER_NAME }}"
          echo "Terraform Deployment State Key       : ${{ env.STATE_KEY_DEPLOYMENT }}"

      # Terraform Init
      - name: Initialize Terraform
        working-directory: .
        run: |
          terraform init -reconfigure \
            -backend-config="resource_group_name=${{ env.RG_NAME }}" \
            -backend-config="storage_account_name=${{ env.STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ env.STORAGE_CONTAINER_NAME }}" \
            -backend-config="key=${{ env.STATE_KEY_DEPLOYMENT }}" \
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

        # Terraform Version
      - name: Terraform Version
        working-directory: .
        run: terraform version

      # Terraform Plan
      - name: Production Terraform Plan
        working-directory: .
        run: |
          terraform plan \
            -var-file="environments/${ENV}/${ENV}.tfvars" \
            -var="ssh_public_key_path=${{ secrets.VMSS_SSH_PUBLIC_KEY }}" \
            -out=tfplan
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

      # Terraform Apply
      - name: Production Terraform Apply
        working-directory: .
        run: terraform apply -auto-approve tfplan
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
